.font-logo {
  font-family: "Ubuntu", "Nunito", sans-serif;
}

body {
  background-color: #fff;
}

header {
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}
header nav {
  background-color: #466cb6;
  box-shadow: 1px 1px 5px #273837;
}
header .glass {
  height: 75vh;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 10rem;
}
header .glass h1 {
  font-size: 2rem;
  font-weight: 800;
  margin: 0;
}
header .glass .author {
  padding: 1.2rem 0;
}
header .glass .author .img-container {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  vertical-align: middle;
}
header .glass .author p {
  font-size: 1rem;
  display: inline-block;
}
header .glass .author p a {
  color: #fff;
}
header .glass > p {
  font-size: 0.9rem;
}

article {
  padding: 5rem 0;
  font-size: 1.1rem;
  text-align: justify;
  color: #2c3741;
  line-height: 2rem;
}
article .first-image {
  border-radius: 10px;
}

.prev-next-article {
  border-radius: 5px;
  border: 1px solid #e6dbdb;
  padding: 2rem 1rem;
}

.tags {
  padding: 2rem 1rem;
}
.tags .tags-title {
  font-weight: 800;
}
.tags .tags-text {
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #e6dbdb;
}

.a-link, .comment-box .comment-user .comment-header .user-name {
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.comment-box .replyTo {
  cursor: pointer;
  cursor: pointer;
  background-color: antiquewhite;
  padding: 5px 8px;
  border-radius: 13px;
  color: rgba(0, 0, 0, 0.6);
}
.comment-box .replyTo .text-danger {
  color: rgba(255, 0, 0, 0.6);
}
.comment-box .replyTo:hover {
  color: #000;
}
.comment-box .replyTo:hover .text-danger {
  color: #f00;
}
.comment-box textarea {
  font-size: 1em;
  border: 2px solid #ccc;
  border-bottom: none;
  padding-bottom: 50px;
}
.comment-box .comment-txt-bottom {
  background-color: #f6f8f9;
  border: 2px solid #ccc;
  bottom: 48px;
}
.comment-box .comment-txt-bottom p, .comment-box .comment-txt-bottom div {
  display: inline-block;
}
.comment-box .comment-txt-bottom .login-comment {
  font-size: 0.7em;
}
.comment-box .comment-txt-bottom .btn-comments {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translate(0%, -50%);
}
.comment-box .comment-user .comment-cont {
  border: 1px solid #ccc;
  margin: 35px 5px;
}
.comment-box .comment-user .comment-header {
  position: relative;
}
.comment-box .comment-user .comment-header .user-name {
  font-size: 1.2em;
  color: #007bff;
  font-weight: bold;
}
.comment-box .comment-user .comment-header .user-dp {
  position: absolute;
  height: 70px;
  width: 70px;
  top: 0;
  right: 0;
}
.comment-box .comment-user .comment-header .user-dp img {
  border-radius: 5px;
}
.comment-box .comment-user .comment-header .img-container {
  border-radius: 50%;
}
.comment-box .comment-user .comment-header .img-container img {
  vertical-align: middle;
}
.comment-box .comment-user .comment-content {
  font-size: 1em;
  text-align: justify;
  margin-top: 2rem;
}
.comment-box .comment-user .comment-foot {
  position: relative;
}
.comment-box .comment-user .comment-foot .btn-foot-comments {
  display: flex;
}
.comment-box .comment-user .comment-foot .btn-foot-comments p:first-child {
  margin-left: auto;
  margin-right: 5px;
}
.comment-box .comment-user .comment-foot::after {
  content: ".";
  color: transparent;
}

@media only screen and (max-width: 390px) {
  .comment-box .comment-txt-bottom p, .comment-box .comment-txt-bottom div {
    display: inline !important;
  }

  .comment-box .comment-txt-bottom .btn-comments {
    position: static;
    right: unset !important;
  }

  .comment-box .comment-txt-bottom .btn-comments p {
    display: block;
    margin: 0.2rem !important;
  }
}

/*# sourceMappingURL=blog.css.map */
