.swal2-icon.swal2-warning {
  font-size: 1.5rem;
}

.notif-wrapper {
  .notif-comment {
    // not read
    background-color: #f3f3f3;
    padding: 20px;
  }

  .notif-commented {
    // read
    background-color: #fff;
    padding: 20px;
  }
  .m-list-timeline__items .m-list-timeline__item {
    padding: 20px;
  }
  .m-dropdown .m-dropdown__wrapper .m-dropdown__body {
    padding: 0;
  }
  .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge::before {
    content: unset;
  }
}

.m-widget4 .m-widget4__item .m-widget4__img.m-widget4__img--logo img {
  height: 3.5rem;
}
.icon-list-container {
  padding: 1rem;
  .icon-list {
    cursor: pointer;
    font-size: 2rem;
    padding: 10px;
    color: rgba(0, 0, 0, 0.7);
  }
  .icon-list:hover {
    color: #000;
  }
}
.cursor-pointer {
  cursor: pointer;
}
label {
  font-weight: 800;
}
.vertical-align-middle {
  vertical-align: middle;
}
.m-brand {
  height: unset !important;
}
.logo-admin-page {
  width: 50px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 992px) {
  .m-brand {
    height: unset !important;
  }
}
