.font-logo {
  font-family: "Ubuntu", "Nunito", sans-serif;
}

body {
  overflow-x: hidden;
}

.separator {
  height: 5rem;
}

header {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: bottom center;
}
header .font-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
header .text-header {
  padding: 5rem;
  width: 50%;
}
header .text-header .title {
  font-size: 1.6rem;
  font-weight: 800;
}
header .text-header p {
  font-size: 1rem;
}
header .text-header .title-drive {
  font-size: 2.8rem;
}

section.products {
  background-color: #5570a2;
  color: #fff;
  padding: 5rem;
}
section.products hr {
  border: 1px solid #119393;
}
section.products .products-1 {
  font-size: 1.05rem;
  text-align: justify;
}
section.products .products-1 .title {
  font-size: 1.35rem;
  text-decoration: underline;
  margin-bottom: 1rem;
}
section.products .products-2 {
  padding-left: 3rem;
  text-align: center;
}
section.products .products-2 .products-2-title {
  font-size: 1.35rem;
  text-decoration: underline;
  margin-bottom: 1rem;
}
section.products .products-2 ul {
  display: flex;
  list-style: none;
}
section.products .products-2 ul li {
  padding-right: 1rem;
}
section.products .products-2 ul li span {
  display: block;
  font-size: 2rem;
  text-align: center;
}
section.products .products-2 .downloads {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
section.products .products-2 .downloads .link-container {
  margin: 1rem;
  height: 3.5rem;
}
section.products .products-2 .downloads .link-container .img-fluid {
  height: 100%;
}
section.products .title, section.products .products-2-title {
  font-weight: 800;
}

.b-addition {
  padding: 2.5rem 5rem;
  text-align: center;
  font-size: 1.2rem;
}
.b-addition p {
  margin: 0;
}
.b-addition p.display-4 {
  font-size: 2.5rem;
  font-weight: 400;
}
.b-addition .icon {
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
  color: rgba(37, 128, 119, 0.7);
  font-size: 2rem;
}
.b-addition .icon-up {
  display: none;
}
.b-addition .icon:hover {
  color: #258077;
}

section.addition {
  background-color: #4dc0b5;
  margin: 0;
  margin-bottom: 5rem;
  transition-duration: 2s;
}
section.addition .addition1 {
  background-color: #4f7fdb;
}
section.addition .addition2 {
  background-color: #88a9ea;
}
section.addition .addition3 {
  background-color: #5b92ff;
}
section.addition .addition1, section.addition .addition2, section.addition .addition3 {
  padding: 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px #000;
  cursor: pointer;
  height: 20rem;
}
section.addition .addition1 div, section.addition .addition2 div, section.addition .addition3 div {
  height: 100%;
  display: flex;
}
section.addition .addition1 div p, section.addition .addition2 div p, section.addition .addition3 div p {
  padding: 1rem;
  line-height: 2rem;
  font-size: 1.05rem;
  margin-top: auto;
}
section.addition .addition1 div:hover, section.addition .addition2 div:hover, section.addition .addition3 div:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
section.addition .addition1 div:hover p, section.addition .addition2 div:hover p, section.addition .addition3 div:hover p {
  font-weight: 800;
}

section.fitur {
  padding: 5rem;
  color: #14473c;
}
section.fitur .title {
  font-size: 1.15rem;
  font-weight: 800;
}
section.fitur .detail-fitur {
  font-size: 1.1rem;
  line-height: 2.5rem;
}
section.fitur .detail-fitur td {
  padding: 0.5rem 0;
}
section.fitur .detail-fitur span {
  display: inline-block;
}
section.fitur .detail-fitur .circle-number {
  padding: 0 1rem;
  text-align: center;
  border: 3px solid #258077;
  border-radius: 50%;
  margin-right: 0.5rem;
}

section.subscribe {
  background-color: #d4e0f8;
}
section.subscribe > div {
  padding: 5rem;
  display: flex;
}
section.subscribe .display-4 {
  font-size: 2rem;
  font-weight: 400;
}
section.subscribe form {
  padding-right: 10rem;
  margin: auto;
  display: block;
}
section.subscribe form input, section.subscribe form button {
  height: 4rem;
  font-size: 1.2rem;
}

section.founder {
  padding: 4rem 2rem;
  color: #466cb6;
  text-shadow: 1px 1px #ffeaea;
  background-color: #fff;
}
section.founder .founder-title {
  text-align: center;
  display: block;
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 2rem;
  color: #466cb6;
  text-shadow: 2px 2px 15px #aaa;
}
section.founder .founder-cont {
  text-align: center;
}
section.founder .founder-cont .img-cont {
  height: 15rem;
}
section.founder .founder-cont .img-cont img {
  height: 100%;
}
section.founder .founder-cont .name {
  margin-top: 1.5rem;
}

section.contact {
  background-color: #475f8c;
  padding: 3rem;
  color: #fff;
}
section.contact a {
  color: rgba(255, 255, 255, 0.7);
}
section.contact a:hover {
  color: #fff;
}
section.contact .title {
  font-size: 1.1rem;
  font-weight: 800;
}

@media only screen and (max-width: 1252px) {
  header .text-header {
    padding: 5rem;
  }
}
@media only screen and (max-width: 1250px) {
  section.subscribe form {
    padding-right: 0;
  }

  .subscribe form div {
    display: block !important;
  }
  .subscribe form div button {
    width: 100%;
    margin-left: 0 !important;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 958px) {
  header {
    background-size: cover;
  }

  header .text-header {
    padding: 3.5rem;
  }
}
@media only screen and (max-width: 837px) {
  header .text-header {
    width: unset;
  }
}
@media only screen and (max-width: 767px) {
  .fitur .col-md-6:first-child {
    order: 3;
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 738px) {
  .b-addition .text {
    font-size: 1rem;
  }
  .b-addition p:last-child {
    margin: 0;
  }

  .addition {
    font-size: 1rem;
  }

  section.products .d-flex {
    display: block !important;
  }
  section.products .products-2 {
    margin-top: 3rem;
    padding-left: 0;
  }

  section.addition .addition1 div p, section.addition .addition2 div p, section.addition .addition3 div p {
    margin-top: 50%;
  }
  section.addition .addition1 div:hover, section.addition .addition2 div:hover, section.addition .addition3 div:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  section.addition .addition1 div:hover p, section.addition .addition2 div:hover p, section.addition .addition3 div:hover p {
    margin-bottom: unset;
    font-weight: 800;
  }
}
@media only screen and (max-width: 420px) {
  header .text-header .title-drive {
    font-size: 2rem;
  }

  header .text-header .title {
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=homepage.css.map */
