// Body
$body-bg: #f8fafc;

// Typography
$default-font: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-logo: 'Ubuntu', 'Nunito', sans-serif;

.font-logo {
  font-family: $font-logo;
}
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$igreen: #258077;
$borderTeal: #119393;
