@import 'variables';

body {
  background-color: #fff;
}

header {
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  nav {
    // background-color: #295b5fb3;
    // background-color: #295b5f;
    // background-color: #00b6c5;
    background-color: #466cb6;
    box-shadow: 1px 1px 5px #273837;
  }
  .glass {
    height: 75vh;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 10rem;
    h1 {
      font-size: 2rem;
      font-weight: 800;
      margin: 0;
    }
    .author {
      padding: 1.2rem 0;
      .img-container {
        display: inline-block;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        vertical-align: middle;
      }
      p {
        font-size: 1rem;
        display: inline-block;
        a {
          color: #fff;
        }
      }
    }
    > p {
      font-size: .9rem;
    }
  }
}

article {
  padding: 5rem 0;
  font-size: 1.1rem;
  text-align: justify;
  color: #2c3741;
  line-height: 2rem;
  .first-image {
    border-radius: 10px;
  }
}

.prev-next-article {
  border-radius: 5px;
  border: 1px solid #e6dbdb;
  padding: 2rem 1rem;
}

.tags {
  padding: 2rem 1rem;
  .tags-title {
    // font-size: 1.2rem;
    font-weight: 800;
  }
  .tags-text {
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #e6dbdb;
  }
}



.a-link {
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}
.comment-box {
  .replyTo {
    cursor: pointer;
    cursor: pointer;
    background-color: antiquewhite;
    padding: 5px 8px;
    border-radius: 13px;
    color: rgba(0,0,0,0.6);
    .text-danger {
      color: rgba(255, 0, 0, 0.6);
    }
  }
  .replyTo:hover {
    color: #000;
    .text-danger {
      color: #f00;
    }
  }
  textarea {
    font-size: 1em;
    border: 2px solid #ccc;
    border-bottom: none;
    padding-bottom: 50px;
  }
  .comment-txt-bottom {
    background-color: #f6f8f9;
    border: 2px solid #ccc;
    bottom: 48px;
    p, div {
      display: inline-block;
    }
    .login-comment {
      font-size: 0.7em;
    }
    .btn-comments {
      position: absolute;
      right: 2%;
      top: 50%;
      transform: translate(0%,-50%);
    }
  }
  .comment-user {
    .comment-cont {
      border: 1px solid #ccc;
      margin: 35px 5px;
    }
    .comment-header {
      position: relative;
      .user-name {
        @extend .a-link;
        font-size: 1.2em;
        color: #007bff;
        font-weight: bold;
      }
      .user-dp {
        position: absolute;
        height: 70px;
        width: 70px;
        top: 0;
        right: 0;
        img {
          border-radius: 5px;
        }
      }

      .img-container {
        border-radius: 50%;
        img {
          vertical-align: middle;
        }
      }
    }
    .comment-content {
      font-size: 1em;
      text-align: justify;
      margin-top: 2rem;
    }
    .comment-foot {
      position: relative;
      .btn-foot-comments {
        display: flex;
        p:first-child {
          margin-left: auto;
          margin-right: 5px;
        }
      }
    }
    .comment-foot::after {
      content: '.';
      color: transparent;
    }
  }
}


@media only screen and (max-width: 390px) {
  .comment-box .comment-txt-bottom p, .comment-box .comment-txt-bottom div {
    display: inline !important;
  }
  .comment-box .comment-txt-bottom .btn-comments {
    position: static;
    right: unset !important;
  }
  .comment-box .comment-txt-bottom .btn-comments p {
    display: block;
    margin: .2rem !important;
  }
}
