@import 'variables';
body {
  overflow-x: hidden;
}
.separator {
  height: 5rem;
}
header {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: bottom center;
  // background-attachment: fixed;
  // filter: contrast(1.15);
  nav {
    // position: relative;
  }
  .font-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
  }
  .text-header {
    padding: 5rem;
    width: 50%;
    .title {
      font-size: 1.6rem;
      font-weight: 800;
    }
    p {
      font-size: 1rem;
    }
    .title-drive {
      font-size: 2.8rem;
    }
  }
}

section.products {
  // background-color: $igreen;
  // background-color: #13a596;
  // background-color: #027781;
  background-color: #5570a2;
  color: #fff;
  padding: 5rem;
  hr {
    border: 1px solid $borderTeal;
  }
  .products-1 {
    font-size: 1.05rem;
    text-align: justify;
    .title {
      font-size: 1.35rem;
      text-decoration: underline;
      margin-bottom: 1rem;
    }
  }
  .products-2 {
    // padding: 0 10rem;
    padding-left: 3rem;
    text-align: center;
    .products-2-title {
      font-size: 1.35rem;
      text-decoration: underline;
      margin-bottom: 1rem;
    }
    ul {
      display: flex;
      list-style: none;
      li {
        padding-right: 1rem;
        span {
          display: block;
          font-size: 2rem;
          text-align: center;
        }
      }
    }
    .downloads {
      display: flex;
      flex-flow: wrap;
      justify-content: space-around;
      .link-container {
        margin: 1rem;
        // height: 4rem;
        height: 3.5rem;
        .img-fluid {
          height: 100%;
        }
      }
    }
  }
  .title, .products-2-title {
    font-weight: 800;
  }
}

.b-addition {
  padding: 2.5rem 5rem;
  text-align: center;
  font-size: 1.2rem;
  // font-weight: 800;
  p {
    margin: 0;
  }
  p.display-4 {
    font-size: 2.5rem;
    font-weight: 400;
  }
  .icon {
    margin-top: 1rem;
    text-align: center;
    cursor: pointer;
    color: rgba(37, 128, 119, 0.7);
    font-size: 2rem;
    // rgb(37, 128, 119);
  }
  .icon-up {
    display: none;
  }
  .icon:hover {
    color: $igreen;
  }
}


section.addition {
  background-color: $teal;
  margin: 0;
  margin-bottom: 5rem;
  transition-duration: 2s;
  .addition1 {
    // background-color: #aadbd9;
    background-color: #4f7fdb;
  }
  .addition2 {
    background-color: #88a9ea;
    // background-color: #0b2c6f;
  }
  .addition3 {
    background-color: #5b92ff;
    // background-color: #8cdacc;
  }

  .addition1, .addition2, .addition3 {
    padding: 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px #000;
    cursor: pointer;
    height: 20rem;
    div {
      height: 100%;
      display: flex;
      p {
        padding: 1rem;
        line-height: 2rem;
        font-size: 1.05rem;
        margin-top: auto;
        // margin-bottom: 20%;
      }
    }
    div:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    div:hover p {
      // margin-bottom: auto;
      font-weight: 800;
    }

  }
}

section.fitur {
  padding: 5rem;
  color: #14473c;
  .title {
    font-size: 1.15rem;
    font-weight: 800;
  }
  .detail-fitur {
    font-size: 1.1rem;
    line-height: 2.5rem;
    td {
      padding: 0.5rem 0;
    }
    span {
      display: inline-block;
    }
    .circle-number {
      padding: 0 1rem;
      text-align: center;
      border: 3px solid $igreen;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
  }
}

section.subscribe {
  background-color: #d4e0f8;
  > div {
    padding: 5rem;
    display: flex;
  }
  .display-4 {
    font-size: 2rem;
    font-weight: 400;
  }
  form {
    padding-right: 10rem;
    margin: auto;
    display: block;
    input, button {
      height: 4rem;
      font-size: 1.2rem;
    }
  }
}

section.founder {
  padding: 4rem 2rem;
  color: #466cb6;
  text-shadow: 1px 1px #ffeaea;
  background-color: #fff;
  .founder-title {
    text-align: center;
    display: block;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem;
    color: #466cb6;
    text-shadow: 2px 2px 15px #aaa;
  }
  .founder-cont {
    text-align: center;
    .img-cont {
      height: 15rem;
      img {
        height: 100%;
      }
    }
    .name {
      margin-top: 1.5rem;
    }
  }
}

section.contact {
  // background-color: #4c7160;
  background-color: #475f8c;
  padding: 3rem;
  color: #fff;
  a {
    color: rgba(255, 255, 255, 0.7);
  }
  a:hover {
    color: #fff;
  }
  .title {
    font-size: 1.1rem;
    font-weight: 800;
  }
}



// responsive

@media only screen and (max-width: 1252px) {
  header .text-header {
    padding: 5rem;
  }
}

@media only screen and (max-width: 1250px) {
  section.subscribe form {
    padding-right: 0;
  }
  .subscribe form div {
    display: block !important;
    button {
      width: 100%;
      margin-left: 0 !important;
      margin-top: 1rem;
    }
  }
}

@media only screen and (max-width: 958px) {
  header {
    background-size: cover;
  }
  header .text-header {
    padding: 3.5rem;
  }
}

@media only screen and (max-width: 837px) {
  header .text-header {
    width: unset;
  }
}

@media only screen and (max-width: 767px) {
  .fitur .col-md-6:first-child {
    order: 3;
    margin-top: 3rem;
  }
}


@media only screen and (max-width: 738px) {
  .b-addition {
    .text {
     font-size: 1rem;
    }
    p:last-child {
      margin: 0;
    }
  }
  .addition {
    font-size: 1rem;
  }
  section.products {
    .d-flex {
      display: block !important;
    }
    .products-2 {
      margin-top: 3rem;
      padding-left: 0;
    }
  }

  section.addition {
    .addition1, .addition2, .addition3 {
      div p {
        margin-top: 50%;
      }
      div:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
      div:hover p {
        margin-bottom: unset;
        font-weight: 800;
      }
    }
  }
}


@media only screen and (max-width: 420px) {
  header .text-header .title-drive {
    font-size: 2rem;
  }
  header .text-header .title {
    font-size: 1.3rem;
  }
}
