@import 'variables';

body {
  font-family: $default-font;
}

.nav-scrolled {
  // background-color: #295b5fb3;
  // background-color: #00b6c5;
  background-color: #466cb6;
  // background-color: #0f9688;
  position: fixed;
  width: 100%;
  transition-duration: 2s;
}

nav {
  // background-color: #295b5fb3;
  // background-color: #00b6c5;
  background-color: #466cb6;
  // background-color: #0f9688;
  font-weight: 800;
  // text-shadow: 2px 1px #fff;
  top: 0;
  z-index: 4;
  box-shadow: 1px 1px 5px #273837;
  // font-size: 1.1rem;
  .navbar-brand {
    font-size: 1.2rem;
    font-weight: 800;
    // width: 2rem;
    img.img-fluid {
      height: 2.8rem;
    }
  }
  a {
    color: #fff;
  }
  a:hover {
    // color: $teal;
    color: #8cfff7;
  }
  .dropdown-menu {
    left: unset;
    width: 100%;
    a:hover {
      background-color: #f3f3f3;
    }
    a:active {
      color: unset;
    }
  }
}

footer {
  display: flex;
  padding: 1rem;
  // background-color: #17443f;
  // background-color: #00b6c5b3;
  background-color: #081b41;
  color: #fff;
  p {
    margin: 0;
  }
}


.img-container {
  height: 25%;
  overflow: hidden;
  display: flex;
  img {
    margin-bottom: auto;
  }
}

@media only screen and (max-width: 990px) {
  .nav-item.active.ml-auto {
    margin-left: unset !important;
  }
}
